---
import Theme from "@/icons/themeSwitch.astro";
---

<div class="no-print inline-flex items-center">
	<div class="group/theme flex items-center gap-2">
		<button id="themeSwitch" class="flex items-center gap-1 text-sm font-medium leading-6 text-skin-base transition-transform ease-in-out group-hover/theme:rotate-45">
			<Theme />
			<span>Toggle Theme</span>
		</button>
	</div>

	<style>
		:global(.dark) {
			color-scheme: dark;
		}
	</style>

	<script>
		const button = document.getElementById("themeSwitch") as HTMLButtonElement;
		const theme = localStorage.getItem("theme");
		const systemTheme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";

		function updateTheme(value: string) {
			const theme = value === "system" ? systemTheme : value;
			document.documentElement.classList.remove("light", "dark");
			document.documentElement.classList.add(theme);
			localStorage.setItem("theme", value);
		}

		if (theme !== null) {
			updateTheme(theme);
		} else {
			updateTheme(systemTheme);
		}

		button.addEventListener("click", () => {
			const currentTheme = document.documentElement.classList.contains("dark") ? "dark" : "light";
			const newTheme = currentTheme === "dark" ? "light" : "dark";
			updateTheme(newTheme);
		});
	</script>
</div>