---
import Theme from "@/icons/themeSwitch.astro";
---

<div class="no-print fixed top-0 right-0 m-4">
	<button id="themeToggle" class="flex items-center gap-1 text-sm font-medium leading-6 text-skin-base transition-transform ease-in-out hover:rotate-45 border rounded-full p-2">
		<Theme />
	</button>

	<style>
		:global(.dark) {
			color-scheme: dark;
		}
	</style>

	<script>
		const button = document.getElementById("themeToggle") as HTMLButtonElement;
		const theme = localStorage.getItem("theme");
		const systemTheme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";

		function updateTheme(value: string) {
			document.documentElement.classList.remove("light", "dark");
			document.documentElement.classList.add(value);
			localStorage.setItem("theme", value);
		}

		function toggleTheme() {
			const currentTheme = document.documentElement.classList.contains("dark") ? "dark" : "light";
			const newTheme = currentTheme === "dark" ? "light" : "dark";
			updateTheme(newTheme);
		}

		if (theme !== null) {
			updateTheme(theme);
		} else {
			updateTheme(systemTheme);
		}

		button.addEventListener("click", toggleTheme);
	</script>
</div>
